body { 
  font-size: 1em; 
  line-height: 1.4; 
  background-color: whitesmoke; 
  font-family: 'Quicksand', sans-serif; 
  color: rgb(74, 74, 74);
}

.hero-img{ 
  height: 100vh; 
  width: 100vh; 
  object-fit: cover; 
  float: left; 
  padding: 10px;
}

.content { 
  float: left; 
  padding: 10px; 
  margin: 0 auto; 
  width: 35vw; 
  text-align: center;
}

span {
  text-transform: uppercase;
}


ul { 
  list-style-type: none;
}

.social-img { 
  height: 25px; 
  width: 25px; 
}

h1 { 
  font-family: 'Playfair Display', serif; 
  color: rgb(2, 53, 31); 
  font-size: 2.5em; 
  text-align-last: center;
}

.sample-img {
  height: 16px;
  width: 16px;
}
